// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

// $base-font-family: $sans-serif;
// $header-font-family: $base-font-family;

$base-font-family: 'Roboto', serif;
$base-font-weight: 300;
$header-font-family: 'Roboto Slab', sans-serif;


// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em * 1;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #565656;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$rich-blue: #0F6C93;
$teal: #7DF9DA;
$super-light-teal: #F0FEFB;
$translucent-black: rgba(0,0,0,0.89);

// Body Color
$base-body-color: $super-light-teal;
$oakampd-logo-color: $teal;
$backing-background: $translucent-black;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $rich-blue;

//  Text Link Colors
$base-link-color: lighten($base-accent-color, 20);
$hover-link-color: lighten($base-accent-color, 45);
$active-link-color: $hover-link-color;
$inactive-link-color: $blue;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Buttons
$button-style: simple;
$sort-button-color: $oakampd-logo-color;
$sort-button-text-color: $medium-gray;
$sort-button-selected-text-color: #000;

// Gig Listing

$gig-listing-font-size: $base-font-size * 0.8;
$venue-listing-font-size-mobile: $gig-listing-font-size;
$gig-listing-inactive-url-font-size: $base-font-size * 1.5;
$month-font-size: $base-font-size * 3;
$month-font-size-mobile: $base-font-size * 2;
$gig-listing-padding: ($base-font-size / 5) 0;
$first-of-the-month-padding: ($base-font-size / 3) 0;

// Mobile Settings

$mobile-padding: 6px;
$mobile-ad-margin: $base-font-size / 5;



