%p You may have noticed that Oakland is exploding with music&mdash;jazz, rock, metal,indie, hip hop, reggae, electronic, bolero, bluegrass, and more. I'm stoked that there's so much great music around this city and wanted to make it easy for everyone to find out what's goin' on.Oak Ampd was created to help y'all out!

%p Keep an eye on the blog for heads up about awesome Oakland musicians y'all should check out. And if you are looking for more about the Oakland music scene you can check out my work as Music Editor on OaklandLocal.com

%p
  Have a show you want added to the listings? Email
  = mail_to "oakampd@gmail.com"
  with the date, artists playing, venue,  price, and a link where folks can buy tickets or rsvp to your event.