#about
  #about-text
    = content_for_about
  #attributions
    %h5.headline
      %span.backing.text-block Icons
    %p
      %span.backing.text-block
        = render partial: "pages/icon_attribution", locals: {icon: "Mail", slug: "edward", designer: "Edward Boatman"}
    %p
      %span.backing.text-block
        = render partial: "pages/icon_attribution", locals: {icon: "Facebook", slug: "mmpezzi", designer: "Maria Maldonado"}
    %p
      %span.backing.text-block
        = render partial: "pages/icon_attribution", locals: {icon: "Twitter", slug: "mmpezzi", designer: "Maria Maldonado"}
