#map-canvas-wrapper
  #map-canvas
#venues-listings
  - @venues.each do |venue|
    .venue-listing
      .venue-name
        %span.backing
          = venue.name
      %address{data: {latitude: venue.latitude, longitude: venue.longitude, title: venue.name}}
        .street-address
          %span.backing
            = venue.address
        .zipcode
          %span.backing
            = venue.zipcode

