#map-canvas-wrapper
  #map-canvas
#venues-listings
  #venues-listings-inner
    - @venues.each do |venue|
      .venue-listing.backing
        = display_name(venue)
        = display_phone_if_present(venue)
        %address{data: {latitude: venue.latitude, longitude: venue.longitude, title: venue.name}}
          .street-address
            = venue.address
          .zipcode
            = venue.zipcode

