- @venues.each do |venue|
  .venue-listing
    .venue-name
      %span.backing
        = venue.name
    %address
      .street-address
        %span.backing
          = venue.address
      .zipcode
        %span.backing
          = venue.zipcode

