:plain
  var $bandsListings = $("#bands-listings")
  $bandsListings.addClass("filtered-out");
  setTimeout(function() {
    $bandsListings.html("#{escape_javascript(render @bands)}").removeClass("filtered-out").addClass("filtered");
    }, 700);
  setTimeout(OakAmpdBandsJs.setup, 1000);