#tags-list
  %ul#tags-at-top.tags
    %li.filter-tag{data: {tag: "all"}}
      %span.backing #ALLTHEBANDS!!!!!
    - @tags.each do |tag|
      %li{id: "tag_#{tag.id}", data: {tag: tag.name}}
        %span.backing
          = "##{tag.name}"
#bands-listings
  = render @bands