#tags-list
  %ul
    %li.filter-tag{data: {tag: "all"}}
      %span.backing #ALLTHEBANDS!!!!!
    - @tags.each do |tag|
      %li{data: {tag: tag.name}}
        %span.backing
          = "##{tag.name}"
    %li{data: {tag: "all"}}
      %span.backing #ALLTHEBANDS!!!!!
#bands-listings
  = render @bands