.block-ad
  = link_to image_tag("block-ad-bagrc.jpg"), "http://www.bayareagirlsrockcamp.org/", target: "_blank"
.block-ad
  = link_to image_tag("block-ad-econo-jam.png"), "https://www.facebook.com/EconoJamRecords", target: "_blank"
.block-ad
  = link_to image_tag("block-ad-mall-walk.jpg"), "http://mallwalkband.com/", target: "_blank"
.block-ad
  = link_to image_tag("block-ad-new-parish.jpg"), "http://www.thenewparish.com/", target: "_blank"
