// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_band,
.edit_band {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
  #band-form-row-1, #band-form-row-2, #band-form-row-3, #band-form-row-4 {
    @include row(table);
  }
  #band-image, #band-image-credit,
  #band-website, #band-bandcamp,
  #band-facebook, #band-soundcloud {
    @include span-columns(4 of 8);
  }
}

#bands-listings {
  .band-listing-wrapper {
    display: inline-block;
    padding: 10px;
    transition: all 700ms;
    &.standard {
      width: 32.5%;
      .band-image-container {
        background-color: $highlight-full-color;
        img {
          opacity: 0.6;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .band-social-media {
        display: none;
      }
    }
    &.prominent {
      width: 50%;
      .band-image-container {
        background-color: $highlight-full-color;
        img {
          opacity: 1;
        }
      }
    }
    .band-listing {
      padding: 10px;
      width: 100%;
      .band-image-container {
        margin-bottom: 5px;
        .band-image {
          text-align: center;
          img {
            margin: 0 auto;
          }
        }
      }
      .band-image-credit {
        font-size: $base-font-size * 0.8;
        font-style: italic;
      }
      .band-name {
        font-weight: bold;
      }
      button,
      input[type="submit"] {
        padding: 4px 10px;
        .button-link {
          color: white;
        }
      }
      .button_to,
      .button_to div {
        display: inline;
      }
      .band-social-media {
        ul {
          margin-top: 5px;
          li {
            display: inline;
            margin-right: 5%;
          }
        }
      }
    }
  }
}
