// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_band,
.edit_band {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
  #band-form-row-1, #band-form-row-2, #band-form-row-3, #band-form-row-4 {
    @include row(table);
  }
  #band-image, #band-image-credit,
  #band-website, #band-bandcamp,
  #band-facebook, #band-soundcloud {
    @include span-columns(4 of 8);
  }
}

#bandwatch {
  text-align: justify;
}

#tags-list {
  margin-bottom: 20px;
  
  ul {
    li {
      display: inline-block;
      font-size: $base-font-size * 1.25;
      cursor: pointer;
      margin: 0 5px;

      &:hover,
      &.filter-tag {
        color: $base-link-color;
      }
    }
  }
}

#bands-listings {
  min-height: 500px;
  transition: all 500ms;
  &.filtered-out {
    transform: scale(0.01);
  }
  .band-listing-wrapper {
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    transition: all 700ms;
    &.standard {
      width: 13.95%;
      .band-image-container {
        background-color: $highlight-full-color;
        img {
          opacity: 0.6;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .band-image-credit {
        font-size: $base-font-size * 0.6;
      }
      .band-name {
        font-size: $base-font-size * 0.8;
      }
      .band-tags,
      .band-social-media,
      .close {
        display: none;
      }
    }
    &.prominent {
      width: 35%;
      .band-image-container {
        background-color: $highlight-full-color;
        text-align: center;
        img {
          opacity: 1;
        }
      }
      .band-image-credit {
        font-size: $base-font-size * 0.8;
      }
      .band-name {
        font-size: $base-font-size * 1.1;
      }
      .band-tags {
        display: block;
      }
      .band-social-media,
      .close {
        display: inline-block;
      }
    }
    .band-listing {
      padding: 10px;
      width: 100%;
      .band-image-container {
        margin-bottom: 5px;
        .band-image {
          text-align: center;
          img {
            margin: 0 auto;
          }
        }
      }
      .band-image-credit {
        font-style: italic;
      }
      .band-name {
        font-weight: bold;
      }
      button,
      input[type="submit"] {
        padding: 4px 10px;
        .button-link {
          color: white;
        }
      }
      .button_to,
      .button_to div {
        display: inline;
      }
      .band-tags {
        ul {
          li {
            display: inline-block;
            cursor: pointer;

            &:hover {
              color: $base-link-color;
            }
          }
        }
      }
      .band-social-media {
        ul {
          margin-top: 5px;
          li {
            display: inline;
            margin-right: 6px;
          }
        }
      }
      .close {
        font-size: 20px;
      }
    }
  }
}
