// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_band {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
  #new-band-row-1, #new-band-row-2, #new-band-row-3, #new-band-row-4 {
    @include row(table);
  }
  #band-image, #band-image-credit,
  #band-website, #band-bandcamp,
  #band-facebook, #band-soundcloud {
    @include span-columns(4 of 8);
  }
}

#bands-listings {
  .band-listing-wrapper {
    display: inline-block;
    padding: 10px;
    transition: all 700ms;
    &.standard {
      width: 32.5%;
      &:hover {
        cursor: pointer;
      }
      .band-image {
        background-color: $highlight-full-color;
        /*padding: 4px 4px 0 4px;*/
        img {
          opacity: 0.6;
        }
      }
    }
    &.prominent {
      width: 50%;
      .band-image {
        background-color: transparent;
        img {
          opacity: 1;
        }
      }
    }
    .close {
      margin-left: 95%;
      display: none;
    }
    .band-listing {
      padding: 10px;
      width: 100%;
      .band-image {
        text-align: center;
        img {
          margin: 0 auto;
        }
      }
      .band-image-credit {
        font-size: $base-font-size * 0.8;
        font-style: italic;
      }
      .band-name {
        font-weight: bold;
      }
    }
  }
}
