// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.froala-box, .f-popup-line {
  color: black;
}

.wysiwyg-content {
  margin-bottom: 20px;
}
