html { 
  background: url("oakampd-background-black.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  @include outer-container;
  background: transparentize($rich-blue, 1);
  color: #FFF;
  .backing {
    background-color: rgba(0,0,0,0.89);
  }
  .text-block {
    padding-left: 5px;
    font-size: $base-font-size * 1.2;
  }
  header {
    padding-top: 30px;
    @include media($mobile) {
      padding-top: 10px;
    }
    #user-info {
      text-align: right;
      font-size: $base-font-size;
      margin-bottom: 20px;
      span {
        margin: 0 5px;
      }
    }
    #header-left {
      @include span-columns(3);
      margin-right: 0;
      text-align: left;
      img {
        width: 100%;
        height: auto;
      }
      @include media($mobile) {
        @include row(table);
        @include span-columns(8);
        text-align: center;
        img {
          width: 65%;
        }
      }
    }
    #header-right {
      @include span-columns(9);
      @include media($mobile) {
        @include row(table);
        @include span-columns(8);
      }
      #header-right-text {
        padding-left: 2%;
        h5 {
          margin-bottom: 15px;
          font-weight: $base-font-weight;
        }
        @include media($mobile) {
          display: none;
        }
      }
      nav {
        font-family: $header-font-family;
        font-size: $base-font-size * 1.75;
        padding-bottom: 10px;
        ul {
          padding-left: 2%;
          width: 100%;
          display: table;
          li {
            display: table-cell;
            vertical-align: middle;
            &.nav-link {
              a:hover {
                border-bottom: 2px solid $active-link-color;
              }
            }
            .active {
              color: $active-link-color;
              border-bottom: 2px solid $active-link-color;
            }
            .icon {
              fill: $hover-link-color;
              width: 40px;
              height: auto;
              &:hover {
                fill: $base-link-color;
              }
            }
          }
        }
        @include media($mobile) {
          font-size: 18px;
          padding-left: $mobile-padding;
          padding-right: $mobile-padding;
          ul {
            display: initial;
            padding-left: 0;
            li {
              display: initial;
              .contact-icons {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .notices, .alerts {
    @include row(table);
    font-size: $base-font-size * 1.5;
    color: #FF0000;
    margin-top: 30px;
    margin-bottom: 30px;
    @include media($mobile) {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  #main-container {
    @include row(table);
    #main-content {
      @include span-columns(8);
      vertical-align: top;
      @include media($mobile) {
        @include span-columns(8);
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
      }
    }
    #gutter-column {
      @include span-columns(1);
      @include media($mobile) {
        display: none;
      }
    }
    #side-content {
      @include span-columns(3);
      @include media($mobile) {
        display: none;
      }
    }
  }
  footer {
    #footer-push {
      width: 100%;
      height: 150px;
      @include media($mobile) {
        height: 50px;
      }
    }
    #footer-contacts-mobile {
      text-align: center;
      padding-left: $mobile-padding;
      padding-right: $mobile-padding;
      ul {
        background: rgba(0,0,0,0.89);
        li {
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
          .icon {
            fill: $hover-link-color;
            width: 40px;
            height: auto;
            &:hover {
              fill: $base-link-color;
            }
          }
        }
      }
      margin-bottom: 20px;
    }
  }
}