body {
  @include outer-container;
  background: #E7FEF8;
  color: #000;
  header {
    padding-top: 30px;
    #header-left {
      @include span-columns(3);
      margin-right: 0;
      text-align: left;
      img {
        width: 100%;
        height: auto;
      }
    }
    #header-right {
      @include span-columns(9);
      #header-right-text {
        padding-left: 2%;
        h5 {
          margin-bottom: 10px;
        }
      }
      nav {
        font-family: $header-font-family;
        font-size: $base-font-size * 1.75;
        border-top: 3px solid #000;
        border-bottom: 3px solid #000;
        padding-top: 10px;
        padding-bottom: 10px;
        ul {
          padding-left: 2%;
          width: 100%;
          display: table;
          li {
            display: table-cell;
          }
        }
      }
    }
  }
  .notices, .alerts {
    @include row(table);
    font-size: $base-font-size * 1.5;
    color: #FF0000;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #main-container {
    @include row(table);
    #main-content {
      @include span-columns(8);
    }
    #gutter-column {
      @include span-columns(1);
    }
    #side-content {
      @include span-columns(3);
    }
  }
  footer {
    #footer-push {
      width: 100%;
      height: 150px;
    }
  }
}