body {
  @include outer-container;
  background: #000;
  color: #FFF;
  header {
    .oakampd-header-image {
      width: 100%;
      height: auto;
      text-align: center;
      img {
        width: 60%;
        height: auto;
      }
    }
  }
  .notices {
    @include row(table);
    font-size: $base-font-size * 1.5;
    color: #FF0000;
  }
  #main-container {
    @include row(table);
    #main-content {
      @include span-columns(8);
    }
    #gutter-column {
      @include span-columns(1);
    }
    #side-content {
      @include span-columns(3);
    }
  }
  footer {
    #footer-push {
      width: 100%;
      height: 150px;
    }
  }
}