html { 
  background: url("oakampd-background-black.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  @include outer-container;
  background: transparentize($rich-blue, 1);
  color: #FFF;
  .backing {
    background-color: rgba(0,0,0,0.89);
  }
  .text-block {
    padding: 0 5px;
    font-size: $base-font-size * 1.1;
  }
  header {
    padding-top: 30px;
    #user-info {
      text-align: right;
      font-size: $base-font-size;
      margin-bottom: 20px;
      span {
        margin: 0 5px;
      }
    }
    #header-left {
      @include span-columns(3);
      margin-right: 0;
      text-align: left;
      img {
        width: 100%;
        height: auto;
      }
    }
    #header-right {
      @include span-columns(9);
      #header-right-text {
        padding-left: 2%;
        h5 {
          margin-bottom: 10px;
        }
      }
      nav {
        font-family: $header-font-family;
        font-size: $base-font-size * 1.75;
        padding-top: 10px;
        padding-bottom: 10px;
        ul {
          padding-left: 2%;
          width: 100%;
          display: table;
          li {
            display: table-cell;
            vertical-align: middle;
            &.nav-link {
              a:hover {
                border-bottom: 2px solid $active-link-color;
              }
            }
            .active {
              color: $active-link-color;
              border-bottom: 2px solid $active-link-color;
            }
            .icon {
              fill: $hover-link-color;
              width: 40px;
              height: auto;
              &:hover {
                fill: $base-link-color;
              };
            }
          }
        }
      }
    }
  }
  .notices, .alerts {
    @include row(table);
    font-size: $base-font-size * 1.5;
    color: #FF0000;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #main-container {
    @include row(table);
    #main-content {
      @include span-columns(8);
      vertical-align: top;
    }
    #gutter-column {
      @include span-columns(1);
    }
    #side-content {
      @include span-columns(3);
    }
  }
  footer {
    #footer-push {
      width: 100%;
      height: 150px;
    }
  }
}