html { 
  background: url("oakampd-background-black.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  @media (max-width: 1024px) {
    background: #000;
  }
}

body {
  @include outer-container;
  @include media($below-desktop) {
    .desktop-only {
      display: none;
    }
  }
  @media (max-width: 725px) {
    .phablet-up-only {
      display: none;
    }
  }
  background: transparentize($rich-blue, 1);
  color: #FFF;
  .backing {
    background-color: $backing-background;
  }
  .text-block {
    padding-left: 5px;
    font-size: $base-font-size * 1.2;
  }
  header {
    padding-top: 30px;
    @include media($mobile) {
      padding-top: 10px;
    }
    @include media($phablet-to-desktop) {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
    #user-info {
      text-align: right;
      font-size: $base-font-size;
      margin-bottom: 20px;
      span {
        margin: 0 5px;
      }
    }
    #header-left {
      @include span-columns(3);
      margin-right: 0;
      text-align: left;
      img {
        width: 100%;
        height: auto;
      }
      @include media($phablet-to-desktop) {
        @include span-columns(4);
        margin-right: 0;
        background: url("oakampd-background-black.png");
        background-size: cover;
        text-align: center;
        img {
          width: 65%;
        }
      }
      @include media($mobile) {
        @include span-columns(8);
        @include row(table);
        background: url("oakampd-background-black.png");
        background-size: cover;
        text-align: center;
        img {
          width: 65%;
        }
      }
      @include media($wide-mobile) {
        img {
          width: 50%;
        }
      }
    }
    #header-right {
      @include span-columns(9);
      @include media($phablet-to-desktop) {
        @include span-columns(4);
        float: right;
      }
      @include media($mobile) {
        @include span-columns(8);
        @include row(table);
        text-align: center;
      }
      #header-right-text {
        padding-left: 2%;
        h5 {
          margin-bottom: 15px;
          font-weight: $base-font-weight;
        }
        @include media($phablet-to-desktop) {
        }
        @include media($mobile) {
          display: none;
        }
      }
      nav {
        font-family: $header-font-family;
        font-size: $base-font-size * 1.2;
        padding-bottom: 10px;
        ul {
          padding-left: 2%;
          width: 100%;
          display: table;
          li {
            display: table-cell;
            vertical-align: middle;
            &.nav-link {
              a:hover {
                border-bottom: 2px solid $active-link-color;
              }
            }
            .active {
              color: $active-link-color;
              border-bottom: 2px solid $active-link-color;
            }
            .icon {
              fill: $hover-link-color;
              width: 40px;
              height: auto;
              &:hover {
                fill: $base-link-color;
              }
            }
          }
        }
        @include media($phablet-to-desktop) {
          font-size: $base-font-size * 1.75;
          line-height: 40px;
          ul.nav-links {
            display: initial;
            padding-left: initial;
            li.nav-link {
              display: initial;
              margin-right: 15px;
            }
            #contacts {
              @include row(table);
              ul {
                display: initial;
                li {
                  display: initial;
                }
              }
            }
          }
        }
        @media (min-width: 501px) and (max-width: 725px) {
          font-size: $base-font-size * 1.4;
          line-height: 35px;
          ul.nav-links li#contacts {
            display: inline;
            ul.contact-icons .icon {
              width: 30px;
              margin: 5px;
              vertical-align: middle;
            }
          }
        }
        @media (min-width: 501px) and (max-width: 675px) {
          ul.nav-links li#contacts {
            display: block;
            ul.contact-icons .icon {
              width: 30px;
              margin-left: 0px;
              margin-right: 10px;
            }
          }
        }
        @include media($mobile) {
          font-size: 17px;
          padding-left: $mobile-padding;
          padding-right: $mobile-padding;
          ul {
            display: initial;
            padding-left: 0;
            li {
              display: initial;
              margin: 0 2px;
              .contact-icons {
                display: none;
              }
            }
          }
        }
        @include media($wide-mobile) {
          font-size: 22px;
        }
      }
    }
  }
  .notices, .alerts {
    @include row(table);
    font-size: $base-font-size * 1.5;
    color: #FF0000;
    margin-top: 30px;
    margin-bottom: 30px;
    @include media($below-desktop) {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  #main-container {
    @include row(table);
    #main-content {
      @include span-columns(8);
      vertical-align: top;
      @include media($below-desktop) {
        @include span-columns(8);
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
      }
    }
    #gutter-column {
      @include span-columns(1);
      @include media($below-desktop) {
        display: none;
      }
    }
    #side-content {
      @include span-columns(3);
      @include media($below-desktop) {
        display: none;
      }
    }
  }
  footer {
    #footer-contacts-mobile {
      display: none;
      @include media($mobile) {
        display: initial;
        text-align: center;
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        margin-top: 20px;
        ul {
          li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
            .icon {
              fill: $hover-link-color;
              width: 40px;
              height: auto;
              &:hover {
                fill: $base-link-color;
              }
            }
          }
        }
      }
    }
    #footer-push {
      width: 100%;
      height: 150px;
      padding-top: 30px;
      padding-bottom: 10px;
      text-align: right;
      @include media($below-desktop) {
        height: 60px;
        padding-right: $mobile-padding;
      }
      @include media($mobile) {
        padding-right: 0;
        font-size: $base-font-size * 0.8;
        text-align: center;
      }
    }
  }
}




