// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sort-buttons-container {
  text-align: center;
  #sort-buttons {
    %button {
      @include button($button-style, $sort-button-color);
      color: $sort-button-text-color;
    }
    .is-checked {
      color: $sort-button-selected-text-color;
    }
  }
}

#gigs-listings {
  #{$all-text-inputs} {
    color: #000;
  }
  .first-of-the-month {
    @include span-columns(8 of 8);
    @include row(table);
    padding: $first-of-the-month-padding;
    span {
      font-size: $month-font-size;
    }
    margin-bottom: 7px;
    margin-top: 15px;
  }
  .gig-listing {
    @include span-columns(8 of 8);
    @include row(table);
    padding: $gig-listing-padding;
    font-size: $gig-listing-font-size;
    margin-bottom: 3px;
    &.past-showdate {
      .gig-listing-cell, .gig-month, .day-word, .day-number {
        color: rgba(255,255,255,0.4);
      }
    }
    .bip-cancel-btn {
      margin-bottom: 10px;
      color: rgba(0,0,0,1);
      display: inline;
    }
    .gig-details {
      @include row(table);
      .gig-listing-cell {
        padding-left: 5px;
        padding-right: 5px;
        #{$all-text-inputs} {
          width: 60%;
          display: inline;
          margin-right: 5px;
        }      
      }
      .showdate {
        @include span-columns(1 of 8);
        div {
          display: inline-block;
          &.gig-month {
            display: none;
          }
          &.day-word {
            width: 50%;
            @include media($mobile) {
              display: none;
            }
          }
        }
        &.change-showdate-for-sorting {
          .gig-month {
            display: initial;
            margin-right: 20px;
          }
          .day-word {
            display: none;
          }
        }
      }
      .band {
        @include span-columns(3 of 8);
      }
      .venue {
        @include span-columns(2 of 8);
      }
      .price {
        @include span-columns(2 of 8);
        span {
          margin-left: 50%;
          .price-url {
            font-weight: 400;
          }
          &.bpi-price {
            #{$all-text-inputs} {
              width: 25%;
              display: inline;
              margin-right: 5px;
            }      
          }
        }
      }
    }
    .gig-url {
      @include row(table);
      margin: 10px 0 20px 0;
      color: $inactive-link-color;
      font-size: $gig-listing-inactive-url-font-size;
      #{$all-text-inputs} {
        width: 80%;
        display: inline;
        margin-right: 5px;
      }      
    }
    .gig-delete {
      @include row(table);
    }
  }
}

#new_gig {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
  #new-gig-row-1, #new-gig-row-2, #new-gig-row-3 {
    @include row(table);
  }
  #gig-showdate, #gig-band,
  #gig-venue-name, #gig-venue-address,
  #gig-price, #gig-url {
    @include span-columns(4 of 8);
  }
}




