// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sort-buttons-container {
  text-align: center;
  #sort-buttons {
    .is-checked {
      color: lighten(#FF0000, 10);
    }
  }
}

#gigs-listings {
  .first-of-the-month {
    @include span-columns(8 of 8);
    @include row(table);
    font-size: $month-font-size;
    padding: $first-of-the-month-padding;
  }
  .gig-listing {
    @include span-columns(8 of 8);
    @include row(table);
    padding: $gig-listing-padding;
    font-size: $gig-listing-font-size;
    border-bottom: 1px solid $base-border-color;
    &.last-of-the-month {
      border-bottom: none;
      &.change-last-of-the-month-for-sorting {
        border-bottom: 1px solid $base-border-color;
      }
    }
    &.past-showdate {
      .gig-listing-cell {
        text-decoration: line-through;
        div {
          text-decoration: line-through; 
        }
      }
    }
    .showdate {
      @include span-columns(1 of 8);
      div {
        display: inline-block;
        &.gig-month {
          display: none;
        }
        &.day-word {
          width: 50%;
        }
      }
      &.change-showdate-for-sorting {
        .gig-month {
          display: initial;
          margin-right: 20px;
        }
        .day-word {
          display: none;
        }
      }
    }
    .band {
      @include span-columns(3 of 8);
    }
    .venue {
      @include span-columns(3 of 8);
    }
    .price {
      @include span-columns(1 of 8);
      span {
        margin-left: 50%;
      }
    }
  }
}

#new_gig {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: #FF0000;
  }
  #new-gig-row-1, #new-gig-row-2, #new-gig-row-3 {
    @include row(table);
  }
  #gig-showdate, #gig-band,
  #gig-venue-name, #gig-venue-address,
  #gig-price, #gig-url {
    @include span-columns(4 of 8);
  }
}



