// Place all the styles related to the Gigs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#gigs-listings {
  table {
    tr {
      &.first-of-the-month {
        font-size: $month-font-size;
      }
      td {
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 35%;
        }
        &:nth-child(3) {
          width: 40%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &.showdate {
          div {
            display: inline-block;
            &.day-word {
              width: 40%;
            }
          }
        }
        &.price {
          span {
            float: right;
          }
        }
      }
    }
  }
}

#new_gig {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: #FF0000;
  }
  #new-gig-row-1, #new-gig-row-2, #new-gig-row-3 {
    @include row(table);
  }
  #gig-showdate, #gig-band,
  #gig-venue-name, #gig-venue-address,
  #gig-price, #gig-url {
    @include span-columns(4 of 8);
  }
}



