#side-content {
  .twitter-timeline {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
  }
  .block-ad {
    margin-bottom: 40px;
    img {
      width: 100;
      height: auto;
    }
  }
}