// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Selected Venue Styling

@-webkit-keyframes highlight-venue {
  0% { background-color: $backing-background; }
  50% { background-color: $highlight-half-color; }
  100% { background-color: $highlight-full-color; }
}
@-moz-keyframes highlight-venue {
  0% { background-color: $backing-background; }
  50% { background-color: $highlight-half-color; }
  100% { background-color: $highlight-full-color; }
}
@-o-keyframes highlight-venue {
  0% { background-color: $backing-background; }
  50% { background-color: $highlight-half-color; }
  100% { background-color: $highlight-full-color; }
}
@keyframes highlight-venue {
  0% { background-color: $backing-background; }
  50% { background-color: $highlight-half-color; }
  100% { background-color: $highlight-full-color; }
}

.selected-venue {
  background-color: $highlight-full-color;
  -webkit-animation: highlight-venue 1200ms ease-in;
  -moz-animation: highlight-venue 1200ms ease-in;
  -o-animation: highlight-venue 1200ms ease-in;
  animation: highlight-venue 1200ms ease-in;
  .venue-name, a {
    color: black;
  }
  a:hover {
    color: $hover-link-color;
  }

  a:active, a:focus {
    color: $hover-link-color;
    outline: none;
  }
}

// General Venues Styling

#new_venue {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
}

#map-canvas-wrapper {
  @include media($mobile) {
    display: none;
  }
  #map-canvas {
    margin: 0 auto;
    max-width: 100%;
    height: 400px;
    @include media($below-desktop) {
      max-width: 85%;
    }
  }
  margin-bottom: 30px;
}
#venues-listings {
  #{$all-text-inputs} {
    color: #000;
  }
  .venue-listing {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    height: 130px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    @include media($mobile) {
      width: 45%;
      margin-bottom: 20px;
      font-size: $venue-listing-font-size-mobile;
    }
    .bip-cancel-btn {
      margin-bottom: 10px;
      color: rgba(0,0,0,1);
      display: inline;
    }
    .venue-delete-btn {
      padding: 3px 5px;
      font-size: 12px;
    }
  }
}

