// Place all the styles related to the venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#new_venue {
  textarea,
  #{$all-text-inputs},
  select[multiple=multiple] {
    width: 90%;
    color: $base-link-color;
  }
}

#map-canvas-wrapper {
  @include media($mobile) {
    display: none;
  }
  #map-canvas {
    margin: 0 auto;
    max-width: 100%;
    height: 400px;
    @include media($below-desktop) {
      max-width: 85%;
    }
  }
  margin-bottom: 30px;
}
#venues-listings {
  #{$all-text-inputs} {
    color: #000;
  }
  .venue-listing {
    display: inline-block;
    min-width: 30%;
    @include media($mobile) {
      width: 45%;
      vertical-align: top;
    }
    height: 130px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-top: 10px;
    .bip-cancel-btn {
      margin-bottom: 10px;
      color: rgba(0,0,0,1);
      display: inline;
    }
  }
}

