%h2 Gigs#index
%table
  %tbody
    - @gigs.each do |gig|
      %tr
        %td
          = showdate_for_gig(@first_ids, gig)
        %td
          = gig.band_name
        %td
          = gig.venue_details
        %td
          = gig.price