%h2 Gigs#index
%table
  %tbody
    - @gigs.each do |gig|
      %tr
        %td
          = gig.showdate.to_date
        %td
          = gig.band_name
        %td
          = gig.venue_details
        %td
          = gig.price